.Button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 10px 15px;
  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.primary {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
}

.clear {
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--primary-color);
  background: none;
}

.outline_red {
  border: 1px solid var(--red-dark);
  color: var(--red-light);
  background: none;
}

.background {
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
}

.square {
  padding: 0;
}

.square.size_m {
  height: var(--font-line-m);
  width: var(--font-line-m);
  font: var(--font-m);
}

.square.size_l {
  height: var(--font-line-l);
  width: var(--font-line-l);
  font: var(--font-l);
}

.square.size_xl {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
  font: var(--font-xl);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}
