.link {
  color: var(--primary-color);
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--secondary-color);
  vertical-align: top;
}

.linkCollapsed {
  opacity: 0;
  transition: 0.2s opacity;
  width: 0;
}
