.Wrapper {
  display: flex;
}

.label {
  margin-right: 10px;
}

.active {
  opacity: 0.7;
}

.Select {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding: 2px 10px 2px 2px;
  border: 1px solid var(--primary-color);
}

.option {
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
}
