.app_dark_theme {
  --bg-color: #181818;
  --secondary-bg-color: rgb(33 33 33 / 98%);
  --primary-color: #fff;
  --secondary-color: lightgray;
  --inverted-color: #e8e8ea;

  // skeleton
  --skeleton-color: rgb(52 51 51);
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --skeleton-background: var(--secondary-bg-color);

  // code
  --code-bg: var(--secondary-bg-color);

  // card
  --card-bg: var(--secondary-bg-color);

  // listbox
  --listbox-bg: var(--secondary-bg-color);
}
