.app_light_theme {
  --bg-color: #e8e8ea;
  --secondary-bg-color: #fff;
  --primary-color: #333;
  --secondary-color: #6f7577;
  --inverted-color: #181818;
  // skeleton
  --skeleton-color: #ffffff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --skeleton-background: var(--bg-color);

  // code
  --code-bg: rgba(0 0 0 / 5%);

  // card
  --card-bg: rgba(0 0 0 / 5%);

  // listbox
  --listbox-bg: rgba(0 0 0 / 5%);
}
