.app_purple_theme {
  --bg-color: #8907b5;
  --secondary-bg-color: #9668a6;
  --primary-color: #f9f4fb;
  --secondary-color: #f9f4fb;
  --inverted-color: #e8e8ea;
  // skeleton
  --skeleton-color: #ffffff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --skeleton-background: var(--secondary-bg-color);

  // code
  --code-bg: var(--secondary-bg-color);

  // card
  --card-bg: var(--secondary-bg-color);

  // listbox
  --listbox-bg: var(--secondary-bg-color);
}
