.ArticleDetailsPage {
  min-height: 100%;
}

.commentTitle {
  margin-top: 20px;
}

.recommendTitle {
  margin-top: 20px;
}

.commentForm {
  margin-top: 20px;
}

.recommendations {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
